DischargeTransportManagement/Connected Services/AppSecurityService/ApplicationSecurity3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://lifeflightportaltest.mc.vanderbilt.edu/ApplicationSecurityService/ApplicationSecurity.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ApplicationSecurityDTO" />
  <xs:import schemaLocation="https://lifeflightportaltest.mc.vanderbilt.edu/ApplicationSecurityService/ApplicationSecurity.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetAllApplications">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllApplicationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ApplicationSecurityDTO" minOccurs="0" name="GetAllApplicationsResult" nillable="true" type="q1:ArrayOfApplicationDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddApplication">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ApplicationSecurityDTO" minOccurs="0" name="application" nillable="true" type="q2:ApplicationDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddApplicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddApplicationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ApplicationSecurityDTO" minOccurs="0" name="GetAllUsersResult" nillable="true" type="q3:ArrayOfUserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserToApplication">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ApplicationSecurityDTO" minOccurs="0" name="user" nillable="true" type="q4:UserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserToApplicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddUserToApplicationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsersInApplication">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApplicationName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsersInApplicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ApplicationSecurityDTO" minOccurs="0" name="GetAllUsersInApplicationResult" nillable="true" type="q5:ArrayOfUserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRoles">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ApplicationSecurityDTO" minOccurs="0" name="GetAllRolesResult" nillable="true" type="q6:ArrayOfRolesDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRoleToApplication">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ApplicationSecurityDTO" minOccurs="0" name="role" nillable="true" type="q7:RolesDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRoleToApplicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddRoleToApplicationResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRolesInApp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApplicationName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllRolesInAppResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetAllRolesInAppResult" nillable="true" type="q8:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsersInAppRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApplicationName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RoleName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUsersInAppRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ApplicationSecurityDTO" minOccurs="0" name="GetAllUsersInAppRoleResult" nillable="true" type="q9:ArrayOfUserDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserToAppRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VunetId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ApplicationName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RoleName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUserToAppRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddUserToAppRoleResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserRolesInApp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApplicationName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserRolesInAppResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetUserRolesInAppResult" nillable="true" type="q10:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppUserWithRoles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ApplicationName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAppUserWithRolesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ApplicationSecurityDTO" minOccurs="0" name="GetAppUserWithRolesResult" nillable="true" type="q11:ArrayOfAppUserRoleDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAppUserRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ApplicationSecurityDTO" minOccurs="0" name="AppUserRole" nillable="true" type="q12:AppUserRoleDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAppUserRoleResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>