DischargeTransportManagement/Connected Services/AppSecurityService/ApplicationSecurity1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ApplicationSecurityDTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ApplicationSecurityDTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfApplicationDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ApplicationDTO" nillable="true" type="tns:ApplicationDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfApplicationDTO" nillable="true" type="tns:ArrayOfApplicationDTO" />
  <xs:complexType name="ApplicationDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedOn" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Desctiption" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ApplicationDTO" nillable="true" type="tns:ApplicationDTO" />
  <xs:complexType name="ArrayOfUserDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserDTO" nillable="true" type="tns:UserDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserDTO" nillable="true" type="tns:ArrayOfUserDTO" />
  <xs:complexType name="UserDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedOn" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Show" type="xs:boolean" />
      <xs:element minOccurs="0" name="UpdatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdatedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="VunetId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDTO" nillable="true" type="tns:UserDTO" />
  <xs:complexType name="ArrayOfRolesDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RolesDTO" nillable="true" type="tns:RolesDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRolesDTO" nillable="true" type="tns:ArrayOfRolesDTO" />
  <xs:complexType name="RolesDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedOn" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="RoleDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Show" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RolesDTO" nillable="true" type="tns:RolesDTO" />
  <xs:complexType name="ArrayOfAppUserRoleDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AppUserRoleDTO" nillable="true" type="tns:AppUserRoleDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAppUserRoleDTO" nillable="true" type="tns:ArrayOfAppUserRoleDTO" />
  <xs:complexType name="AppUserRoleDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsUserActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoleName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShowUser" type="xs:boolean" />
      <xs:element minOccurs="0" name="UpdatedBy" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UpdatedOn" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="VunetId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AppUserRoleDTO" nillable="true" type="tns:AppUserRoleDTO" />
</xs:schema>